{% extends '@MagentaSWarrantyAdmin/CRUD/list.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        #filter_createdAt_value > div, #filter_closedAt_value > div {
            position: relative;
            width: 50%;
            float: left;
            padding-left: 0px;
        }
    </style>
{% endblock %}
{% block list_header %}
    <a href="{{ admin.generateUrl('list',{'statusFilter':'NEW'}) }}"
       class="list-action btn btn-default {{ app.request.get('statusFilter') == 'NEW'?'active':'' }}">Unassigned</a>
    <a href="{{ admin.generateUrl('list',{'statusFilter':'ASSIGNED'}) }}"
       class="list-action btn btn-default {{ app.request.get('statusFilter') == 'ASSIGNED'?'active':'' }}">Assigned</a>
    <a href="{{ admin.generateUrl('list',{'statusFilter':'RESPONDED'}) }}"
       class="list-action btn btn-default {{ app.request.get('statusFilter') == 'RESPONDED'?'active':'' }}">Responded</a>
    <a href="{{ admin.generateUrl('list',{'statusFilter':'COMPLETED'}) }}"
       class="list-action btn btn-default {{ app.request.get('statusFilter') == 'COMPLETED'?'active':'' }}">Completed</a>
    <a href="{{ admin.generateUrl('list',{'statusFilter':'CLOSED'}) }}"
       class="list-action btn btn-default {{ app.request.get('statusFilter') == 'CLOSED'?'active':'' }}">Closed</a>
    <a href="{{ admin.generateUrl('list',{'statusFilter':'ALL'}) }}"
       class="list-action btn btn-default {{ app.request.get('statusFilter') == 'ALL' or app.request.get('statusFilter') == ''?'active':'' }}">All</a>

    <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : 'html'}) }}"
       class="list-action btn btn-primary"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
        Generate Service Sheets</a>
{% endblock %}
