{% extends '@MagentaSWarrantyAdmin/CRUD/list.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        #filter_createdAt_value > div, #filter_closedAt_value > div {
            position: relative;
            width: 50%;
            float: left;
            padding-left: 0px;
        }
    </style>
{% endblock %}
{% block list_header %}
    <a href="{{ admin.generateUrl('list',{'statusFilter':'NEW'}) }}"
       class="list-action btn btn-default {{ app.request.get('statusFilter') == 'NEW'?'active':'' }}">Unassigned</a>
    <a href="{{ admin.generateUrl('list',{'statusFilter':'ASSIGNED'}) }}"
       class="list-action btn btn-default {{ app.request.get('statusFilter') == 'ASSIGNED'?'active':'' }}">Assigned</a>
    <a href="{{ admin.generateUrl('list',{'statusFilter':'RESPONDED'}) }}"
       class="list-action btn btn-default {{ app.request.get('statusFilter') == 'RESPONDED'?'active':'' }}">Responded</a>
    <a href="{{ admin.generateUrl('list',{'statusFilter':'COMPLETED'}) }}"
       class="list-action btn btn-default {{ app.request.get('statusFilter') == 'COMPLETED'?'active':'' }}">Completed</a>
    <a href="{{ admin.generateUrl('list',{'statusFilter':'CLOSED'}) }}"
       class="list-action btn btn-default {{ app.request.get('statusFilter') == 'CLOSED'?'active':'' }}">Closed</a>
    <a href="{{ admin.generateUrl('list',{'statusFilter':'ALL'}) }}"
       class="list-action btn btn-default {{ app.request.get('statusFilter') == 'ALL' or app.request.get('statusFilter') == ''?'active':'' }}">All</a>

    <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : 'pdf'}) }}"
       class="download-service-sheet list-action btn btn-primary"><i class="fa fa-arrow-circle-o-down"
                                                                     aria-hidden="true"></i>
        Generate Service Sheets</a>
{% endblock %}

{%- block actions -%}
    {#{% include '@SonataAdmin/CRUD/action_buttons.html.twig' %}#}
{%- endblock -%}

{%- block javascripts -%}
    {{ parent() }}
    <script>
        (function ($) {

            /* ----------------------------------------------- */
            /* ----------------------------------------------- */
            /* OnLoad Page */
            $(document).ready(function ($) {
                registerBatchActionEvents($('input[name="idx[]"]'));
                $('.download-service-sheet').click(function (e) {
                    e.preventDefault();
                    let checkedCount = $('[name="idx[]"]:checked').length;
                    let isChecked = checkedCount > 0;

                    if (isChecked) {
                        let $form = $(this).parents('form');
                        $form.find('select[name="action"]').val("service-sheet");

                        $form.submit();
                    } else {
                        window.location.href = $(this).attr('href');
                    }

                });
            });


            registerBatchActionEvents = function ($ace) {
                $ace.on('ifChanged change', function (e) {
                    let $iCheck = $(this);
                    let $parent = $(this).parents('.ace-container');
                    let enableUrl = $parent.data('enableUrl');
                    let removeUrl = $parent.data('removeUrl');
                    let statusUrl = $parent.data('statusUrl');

                    // console.log('url is ', url, 'is checked', $(this).is(":checked"));
                    let isChecked = $(this).is(":checked");
                    let $iCheckContainer = $(this).parents('.icheckbox_square-blue');
                    // $iCheckContainer.hide();
                    $parent.append('<i class="fa fa-spinner fa-spin" style="font-size:24px"></i>');
                    let $loading = $parent.children().last();
                    // alert('hello');
                    {#if (isChecked) {#}
                    {# ACEntry::STATUS_GRANTED #}
                    {#postACE('GRANTED', enableUrl, statusUrl, function (resp) {#}
                    {#$loading.remove();#}
                    {#$iCheckContainer.show();#}
                    {#});#}
                    {#} else {#}
                    {# ACEntry::STATUS_EMPTY #}
                    {#postACE('EMPTY', removeUrl, statusUrl, function (resp) {#}
                    {#$loading.remove();#}
                    {#$iCheckContainer.show();#}
                    {#});#}
                    {#}#}
                });
            }

            /* OnLoad Window */
            init = function () {

            };
            window.onload = init;

        })(jQuery);
    </script>
{%- endblock -%}