{% extends '@SonataDoctrineORMAdmin/Form/form_admin_fields.html.twig' %}

{% block many_to_many_thing_widget %}
    {% spaceless %}
        <style>
            .n2n-entity-action-container {
                padding-top: 10px;
                text-align: right;
            }

            .n2n-entity-action i {
                font-size: 18px;
            }

            .n2n-checkbox li {
                /*display: flex;*/
                /*justify-content: space-between;*/
                /*align-items: center;*/
            }

            .n2n-checkbox li .checkbox {
                /*flex-grow: 5;*/
            }

            .n2n-checkbox li .n2n-entity-action-container {
                /*flex-grow: 2;*/
            }

            .n2n-checkbox .checkbox {
                display: block;
                padding-right: 7px;
            }

            .n2n-entity-action {
                display: inline;
                padding-right: 3px;
            }

            .remove-form-group .editable-buttons {
                display: block;
                padding-top: 7px;
                text-align: center;
            }

            .remove-form-group .editable-buttons .btn {
                margin: 3px;
            }
        </style>
        {% spaceless %}
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' n2n-checkbox list-unstyled'}) %}
            <input style="margin-bottom: 5px;" type="text" class="form-control" name="add-item"
                   placeholder="Type to create a new item"/>
            <ul {{ block('widget_container_attributes') }}>
                {% for child in form %}
                    <li>
                        <div class="row">
                            <div class="col-md-9">
                                {{ form_widget(child, {
                                    'horizontal': false,
                                    'horizontal_input_wrapper_class': '',
                                    'translation_domain': choice_translation_domain
                                }) }}
                            </div>
                            {#'horizontal' values are needed to avoid MopaBootstrapBundle messing with the DOM#}
                            <div class="n2n-entity-action-container col-md-3">
<span class="n2n-entity-action n2n-entity-editable" tabindex="0" class="btn btn-default"
      role="button"
      data-type="text" data-value="{{ child.vars.label }}"
      data-title="Name" data-pk="{{ child.vars.value }}"
      data-url="{{ path('sonata_admin_set_object_field_value',{
          'context': 'list',
          'field': 'name',
          'objectId': child.vars.value,
          'code': sonata_admin.admin.code
      }) }}"
      data-toggle="popover" data-trigger="manual" data-placement="left"
      data-content="<form class='form-inline editableform'><div class='control-group form-group'><div><div class='editable-input' style='position: relative;'><input value='' type='text' class='n2n-entity form-control input-sm' style='padding-right: 24px;' /><span class='editable-clear-x'></span></div><div class='editable-buttons'><button type='button' class='btn btn-primary btn-sm n2n-entity editable-submit'><i class='glyphicon glyphicon-ok'></i></button><button type='button' class='btn btn-default btn-sm n2n-entity editable-cancel'><i class='glyphicon glyphicon-remove'></i></button></div></div><div class='editable-error-block help-block' style='display: none;'></div></div></form>">
                        <i class="fa fa-edit"> </i>
                    </span>
                                <span class="n2n-entity-action n2n-entity-remove" tabindex="0" class="btn btn-default"
                                      role="button"
                                      data-type="remove" data-value="{{ child.vars.label }}"
                                      data-title="Please confirm your action" data-pk="{{ child.vars.value }}"
                                      data-url="{{ path('sonata_admin_set_object_field_value',{
                                          'context': 'list',
                                          'field': 'name',
                                          'objectId': child.vars.value,
                                          'code': sonata_admin.admin.code
                                      }) }}"
                                      data-toggle="popover" data-trigger="manual" data-placement="left"
                                      data-content="<form class='n2n-entity remove-form'><div class='control-group form-group remove-form-group'><div>
                          Would you like to remove <code>{{ child.vars.label }}</code>
                          <div class='editable-buttons'><button type='button' class='btn btn-danger btn-sm n2n-entity editable-submit form-control'><i class='glyphicon glyphicon-ok'> </i> Yes, Remove this Item</button><button type='button' class='btn btn-default btn-sm n2n-entity editable-cancel form-control'><i class='glyphicon glyphicon-remove'> </i> Cancel</button></div></div><div class='editable-error-block help-block' style='display: none;'></div></div></form>">
                        <i class="fa fa-trash"></i>
                    </span>
                            </div>
                        </div>
                    </li>
                {% endfor %}


                <li><div class="row"><div class="col-md-9"><div class="checkbox"><label class=""><div class="icheckbox_square-blue"><input type="checkbox" id="s5b174b4768512_categories_2" name="s5b174b4768512[categories][]" value="2" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div><span class="control-label__text">
                    Category 2 Org 1 Binh Le</span></label></div></div><div class="n2n-entity-action-container col-md-3"><span class="n2n-entity-action n2n-entity-editable" tabindex="0" role="button" data-type="text" data-value="Category 2 Org 1 Binh Le" data-title="Name" data-pk="2" data-url="/admin/core/set-object-field-value?context=list&amp;field=name&amp;objectId=2&amp;code=Magenta%5CBundle%5CSWarrantyAdminBundle%5CAdmin%5CProduct%5CBrandAdmin" data-toggle="popover" data-trigger="manual" data-placement="left" data-content="<form class='form-inline editableform'><div class='control-group form-group'><div><div class='editable-input' style='position: relative;'><input value='' type='text' class='n2n-entity form-control input-sm' style='padding-right: 24px;' /><span class='editable-clear-x'></span></div><div class='editable-buttons'><button type='button' class='btn btn-primary btn-sm n2n-entity editable-submit'><i class='glyphicon glyphicon-ok'></i></button><button type='button' class='btn btn-default btn-sm n2n-entity editable-cancel'><i class='glyphicon glyphicon-remove'></i></button></div></div><div class='editable-error-block help-block' style='display: none;'></div></div></form>" data-original-title="" title=""><i class="fa fa-edit"></i></span><span class="n2n-entity-action n2n-entity-remove" tabindex="0" role="button" data-type="remove" data-value="Category 2 Org 1 Binh Le" data-title="Please confirm your action" data-pk="2" data-url="/admin/core/set-object-field-value?context=list&amp;field=name&amp;objectId=2&amp;code=Magenta%5CBundle%5CSWarrantyAdminBundle%5CAdmin%5CProduct%5CBrandAdmin" data-toggle="popover" data-trigger="manual" data-placement="left" data-content="<form class='n2n-entity remove-form'><div class='control-group form-group remove-form-group'><div>
                          Would you like to remove <code>Category 2 Org 1 Binh Le</code><div class='editable-buttons'><button type='button' class='btn btn-danger btn-sm n2n-entity editable-submit form-control'><i class='glyphicon glyphicon-ok'></i> Yes, Remove this Item</button><button type='button' class='btn btn-default btn-sm n2n-entity editable-cancel form-control'><i class='glyphicon glyphicon-remove'></i> Cancel</button></div></div><div class='editable-error-block help-block' style='display: none;'></div></div></form>" data-original-title="" title=""><i class="fa fa-trash"></i></span></div></div></li>

            </ul>
        {% endspaceless %}
    {% endspaceless %}
    <script>
        $(function () {


            let $popover = $('.n2n-entity-action[data-toggle="popover"]');

            let initiatePopover = function ($popover) {
                $popover.popover({
                    html: true,
                    template: '<div class="popover editable-container editable-popup" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
                });
            };

            initiatePopover($popover);

            $popover.on('click', function () {
                let $thisPopover = $(this);
                $thisPopover.popover('show');
            });

            $popover.on('inserted.bs.popover', function () {
                let $thisPopover = $(this);
                $('.n2n-entity.editable-cancel').on('click', function () {
                    $thisPopover.popover('hide');
                });

                $('.n2n-entity.editable-submit').on('click', function (e) {
                    e.preventDefault();
                    alert($thisPopover.data('url'));
                    $thisPopover.popover('hide');
                });

                $('input.n2n-entity').val($thisPopover.data('value'));

            })

        })
    </script>
{% endblock %}
