{% extends '@SonataDoctrineORMAdmin/Form/form_admin_fields.html.twig' %}
{% block product_detail_widget %}
    {#{{ dump(form) }}#}
    <span id="{{ form.vars.id }}-spinner"><i class="fa fa-refresh fa-spin" style="font-size:20px;"></i></span>
    <span id="{{ form.vars.id }}-label"></span>
    <span id="{{ form.vars.id }}-value"></span>
    {#spinner-${{ form.vars.id }}.hide();#}
    <script>
        (function ($) {
            spinner_{{ form.vars.id }} = $('#{{ form.vars.id }}-spinner');
            getProductImageUrl = function (id) {
                let url = '{{ path('admin_magenta_swarrantymodel_product_product_image', { 'id':form.vars.id}) }}';
                return url.replace('{{ form.vars.id }}', id);
            }

            $(document).ready(function ($) {
                $productInput = $('input[name = "{{ form.parent.vars.id }}[{{ form.vars.product_property }}]"]');
                productId = $productInput.val();
                // alert(getProductImageUrl(productId));
                setInterval(function () {
                    if (productId !== $productInput.val()) {
                        productId = $productInput.val();
                        getProductImageUrl(productId)
                    }
                }, 500);

            });
        })(jQuery);

    </script>
    {#{{ dump(form) }}#}
{% endblock %}
{% block media_collection_widget %}
{% endblock media_collection_widget %}

{% block many_to_many_thing_widget %}
    {% spaceless %}
        <style>
            .n2n-entity-action-container {
                padding-top: 10px;
                text-align: right;
            }

            .n2n-entity-action i {
                font-size: 18px;
            }

            .n2n-checkbox li {
                /*display: flex;*/
                /*justify-content: space-between;*/
                /*align-items: center;*/
            }

            .n2n-checkbox li .checkbox {
                /*flex-grow: 5;*/
            }

            .n2n-checkbox li .n2n-entity-action-container {
                /*flex-grow: 2;*/
            }

            .n2n-checkbox .checkbox {
                display: block;
                padding-right: 7px;
            }

            .n2n-entity-action {
                display: inline;
                padding-right: 3px;
            }

            .remove-form-group .editable-buttons {
                display: block;
                padding-top: 7px;
                text-align: center;
            }

            .remove-form-group .editable-buttons .btn {
                margin: 3px;
            }
        </style>
        {% spaceless %}
            {% set attr = attr|merge({'class': attr.class|default('') ~ form.vars.name ~ ' n2n-checkbox list-unstyled'}) %}

            {% set createRouteParams = form.vars.create_route.route_params %}
            {% set createUrl = path(form.vars.create_route.route_name, createRouteParams) %}

            <input style="margin-bottom: 5px;" type="text" id="{{ form.vars.id }}_input" class="form-control add-item"
                   data-url="{{ createUrl }}"
                   placeholder="Type to create a new item"/>

            {#{{ dump(form) }}#}

            {% set routerIdParam = form.vars.router_id_param %}

            <script>
                formData_{{ form.vars.name }} = [
                    {% for child in form %}
                    {% set updateRouteParams = form.vars.update_route.route_params|merge({(routerIdParam):child.vars.value}) %}
                    {% set deleteRouteParams = form.vars.delete_route.route_params|merge({(routerIdParam):child.vars.value}) %}
                    {
                        'objectId': '{{ child.vars.value }}',
                        'adminCode': '{{ child.vars.sonata_admin_code }}',
                        'objectLabel': '{{ child.vars.label }}',
                        {#'updateUrl': '{{ path('sonata_admin_set_object_field_value',{'context': 'list','field': form.vars.source,'objectId': child.vars.value,'code': sonata_admin.admin.code}) }}',#}
                        'updateUrl': '{{ path(form.vars.update_route.route_name, updateRouteParams) }}',
                        'deleteUrl': '{{ path(form.vars.delete_route.route_name, deleteRouteParams) }}',
                        'widget': '{% spaceless %}{{- form_widget(child, {
                            'horizontal': false,
                            'horizontal_input_wrapper_class': '',
                            'translation_domain': choice_translation_domain
                        })|e('js') -}} {% endspaceless %}'
                    },
                    {% endfor %}
                ];

                (function ($) {

                    /* ----------------------------------------------- */
                    /* ----------------------------------------------- */
                    /* OnLoad Page */
                    $(document).ready(function ($) {
                        addChoice_{{ form.vars.id }} = function (choice) {
                            let $n2nCheckbox = $('.n2n-checkbox.{{ form.vars.name }}')
                            let choiceHtml = '<li>' +
                                '<div class="row choice-container-' + choice.objectId + '">\n' +
                                '  <div class="col-md-9">'
                                +
                                choice.widget
                                + '</div>' +
                                '<div class="n2n-entity-action-container col-md-3">'
                                +
                                '<span class="n2n-entity-action n2n-entity-editable" tabindex="0" class="btn btn-default"\n' +
                                '                          role="button"\n' +
                                '                          data-operation="update" data-type="text" data-value="' + choice.objectLabel + '"\n' +
                                '                          data-title="Name" data-pk="' + choice.objectId + '"\n' +
                                '                          data-url="' + choice.updateUrl + '"' +
                                '                          data-toggle="popover" data-trigger="manual" data-placement="left"\n' +
                                '                          data-content="<form class=\'form-inline editableform\'><div class=\'control-group form-group\'><div><div class=\'editable-input\' style=\'position: relative;\'><input value=\'\' type=\'text\' class=\'n2n-entity form-control input-sm\' style=\'padding-right: 24px;\' /><span class=\'editable-clear-x\'></span></div><div class=\'editable-buttons\'><button type=\'button\' class=\'btn btn-primary btn-sm n2n-entity editable-submit\'><i class=\'glyphicon glyphicon-ok\'></i></button><button type=\'button\' class=\'btn btn-default btn-sm n2n-entity editable-cancel\'><i class=\'glyphicon glyphicon-remove\'></i></button></div></div><div class=\'editable-error-block help-block\' style=\'display: none;\'></div></div></form>">\n' +
                                '                    <i class="fa fa-edit"> </i>\n' +
                                '                    </span>'
                                +
                                '<span class="n2n-entity-action n2n-entity-remove" tabindex="0" class="btn btn-default"\n' +
                                '                                      role="button"\n' +
                                '                                      data-operation="delete" data-type="" data-value="' + choice.objectLabel + '"\n' +
                                '                                      data-title="Please confirm your action" data-pk="' + choice.objectId + '"\n' +
                                '                                      data-url="' + choice.deleteUrl + '" ' +
                                '                                      data-toggle="popover" data-trigger="manual" data-placement="left"\n' +
                                '                                      data-content="<form class=\'n2n-entity remove-form\'><div class=\'control-group form-group remove-form-group\'><div>\n' +
                                '                Would you like to remove <code>' + choice.objectLabel + '</code> ?\n' +
                                '                <div class=\'editable-buttons\'><button type=\'button\' class=\'btn btn-danger btn-sm n2n-entity editable-submit form-control\'><i class=\'glyphicon glyphicon-ok\'> </i> Yes, Remove this Item</button><button type=\'button\' class=\'btn btn-default btn-sm n2n-entity editable-cancel form-control\'><i class=\'glyphicon glyphicon-remove\'> </i> Cancel</button></div></div><div class=\'editable-error-block help-block\' style=\'display: none;\'></div></div></form>">\n' +
                                '                <i class="fa fa-trash"></i>\n' +
                                '                    </span>'
                                +
                                '</div>'
                                + '</div>'
                                +
                                '</li>'
                            $n2nCheckbox.append(choiceHtml);
                            $n2nCheckbox.find('input').iCheck({
                                checkboxClass: 'icheckbox_square-blue',
                            });

                            let $popover = $('.choice-container-' + choice.objectId + ' .n2n-entity-action[data-toggle="popover"]');

                            initiatePopover_{{ form.vars.id }}($popover);
                        }

                        let formData = formData_{{ form.vars.name }};
                        for (let i = 0; i < formData.length; i++) {
                            let itemData = formData[i];
                            addChoice_{{ form.vars.id }}(itemData);
                        }
                    });

                })(jQuery);

            </script>
        {% endspaceless %}

        <ul {{ block('widget_container_attributes') }}>
        </ul>

    {% endspaceless %}
    <script>
        (function ($) {
            initiatePopover_{{ form.vars.id }} = function ($popover) {
                $popover.popover({
                    html: true,
                    template: '<div class="popover editable-container editable-popup" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
                });

                $popover.on('click', function () {
                    let $thisPopover = $(this);
                    $thisPopover.popover('show');
                });

                $popover.on('inserted.bs.popover', function () {
                    let $thisPopover = $(this);
                    $('.n2n-entity.editable-cancel').on('click', function () {
                        $thisPopover.popover('hide');
                    });

                    $('.n2n-entity.editable-submit').on('click', function (e) {
                        e.preventDefault();
                        let itemCount = {{ form.children|length }};

                        let operation = $thisPopover.data('operation');
                        operation = operation.toUpperCase();
                        let value = $thisPopover.data('value');
                        let actionUrl = $thisPopover.data('url');
                        let id = $thisPopover.data('pk');

                        // alert( url + ' ---  ' + value + ' --- ' + operation );
                        $.post(actionUrl, { {{ form.vars.label_property }}:value}).done(function (actionResponse) {
                            if (operation === 'UPDATE') {
                                $('.choice-container-' + id + ' span.control-label__text').text(actionResponse.{{ form.vars.label_property }});
                                $thisPopover.popover('hide');
                            } else if (operation === 'DELETE') {
                                itemCount--;
                                $('.choice-container-' + id).parents('li').remove();
                                $thisPopover.popover('hide');

                            }
                        });
                    });

                    $('input.n2n-entity').val($thisPopover.data('value'));

                    $('input.n2n-entity').change(function (e) {
                        $thisPopover.data('value', $(this).val());
                    })
                })
            };

            $(document).ready(function ($) {
                let $addItem = $('#{{ form.vars.id }}_input');
                let itemCount = {{ form.children|length }};

                $addItem.bind("enterKey", function (e) {
                    console.log('add new Item');
                });

                $addItem.keydown(function (e) {
                    if (e.keyCode === 13) {
                        console.log('enterkey down on ', $(this));

                        $(this).trigger("enterKey");
                        e.preventDefault();

                        let $thisInput = $(this);
                        $thisInput.prop('disabled', true);

                        let actionUrl = $(this).data('url');
                        $.post(actionUrl, { {{ form.vars.label_property }}:$(this).val()} ).done(function (actionResponse) {
                            console.log('posting here');
                            itemCount++;
                            let newChoice = {
                                objectId: actionResponse.id,
                                objectLabel: actionResponse.{{ form.vars.label_property }},
                                widget: '<div class="checkbox">' +
                                '<label>' +
                                '<input type="checkbox" id="{{ form.vars.id }}_' + itemCount + '" ' +
                                'name="{{ form.vars.full_name }}[]" value="' + actionResponse.id + '" checked="checked" />' +
                                '<span class="control-label__text">\n'
                                +
                                actionResponse.{{ form.vars.label_property }} +
                                '</span></label></div>'
                            }
                            addChoice_{{ form.vars.id }}(newChoice);
                            $thisInput.prop('disabled', false);
                            $thisInput.val('');
                        });
                    }
                });
            });
        })(jQuery);
    </script>
{% endblock %}
