<a href="{{ path('admin_magenta_swarrantymodel_organisation_organisation_accesscontrol_acrole_list',{'id':object.id}) }}" class="btn btn-primary form-control" style="display: block;">Manage ACL</a>
<a href="{{ path('admin_magenta_swarrantymodel_organisation_organisation_product_servicezone_list',{'id':object.id}) }}" class="btn btn-success form-control" style="display: block;">Manage Service Zone</a>
<br/>
<a href="{{ path('admin_magenta_swarrantymodel_organisation_organisation_product_product_list',{'id':object.id}) }}" class="btn btn-primary form-control" style="display: block;">Manage Product</a>
<a href="{{ path('admin_magenta_swarrantymodel_organisation_organisation_product_brand_list',{'id':object.id}) }}" class="btn btn-success form-control" style="display: block;">Manage Brand</a>

<br/>
<a href="{{ path('admin_magenta_swarrantymodel_organisation_organisation_customer_customer_list',{'id':object.id}) }}" class="btn btn-primary form-control" style="display: block;">Manage
    Customers</a>
<a href="{{ path('admin_magenta_swarrantymodel_customer_warranty_list',{'organisation':object.id}) }}" class="btn btn-primary form-control" style="display: block;">Manage
    Warranties</a>
<a href="{{ path('admin_magenta_swarrantymodel_customer_warrantycase_list',{'organisation':object.id}) }}" class="btn btn-primary form-control" style="display: block;">Manage
    Cases</a>

<a href="{{ path('admin_magenta_swarrantymodel_organisation_organisation_product_dealer_list',{'id':object.id}) }}" class="btn btn-primary form-control" style="display: block;">Manage
    Dealers</a>
<a href="{{ path('admin_magenta_swarrantymodel_organisation_organisation_organisation_organisationmember_list',{'id':object.id}) }}" class="btn btn-primary form-control" style="display: block;">Manage
    Company Users</a>



