{% extends '@MagentaSWarrantyAdmin/CRUD/list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        span.progress-description {
            display: none;
        }
    </style>
{% endblock %}

{% block list_header %}
    <a href="{{ admin.generateUrl('list',{'statusFilter':'ALL'}) }}"
       class="list-action btn btn-default {{ app.request.get('statusFilter') == 'ALL' or app.request.get('statusFilter') == ''?'active':'' }}">View
        All</a>
    <a href="{{ admin.generateUrl('list',{'statusFilter':'NEW'}) }}"
       class="list-action btn btn-default {{ app.request.get('statusFilter') == 'NEW'?'active':'' }}">New
        Submissions</a>
    <a href="{{ admin.generateUrl('list',{'statusFilter':'APPROVED'}) }}"
       class="list-action btn btn-default {{ app.request.get('statusFilter') == 'APPROVED'?'active':'' }}">Active
        Warranties</a>
    <a href="{{ admin.generateUrl('list',{'statusFilter':'NEAR-EXPIRY'}) }}"
       class="list-action btn btn-default {{ app.request.get('statusFilter') == 'NEAR-EXPIRY'?'active':'' }}">Near
        Expiry</a>
    <a href="{{ admin.generateUrl('list',{'statusFilter':'EXPIRED'}) }}"
       class="list-action btn btn-default {{ app.request.get('statusFilter') == 'EXPIRED'?'active':'' }}">Expired</a>
    <a href="{{ admin.generateUrl('list',{'statusFilter':'REJECTED'}) }}"
       class="list-action btn btn-default {{ app.request.get('statusFilter') == 'REJECTED'?'active':'' }}">Rejected</a>
{% endblock %}
