{% extends '@SonataAdmin/CRUD/base_show.html.twig' %}
   {% block tab_menu_navbar_header %}
       {% if _navbar_title is not empty %}
           <div class="navbar-header" style="width: 100%; display: flex;">
               <div style="width:100%; display: flex; ">
                   {% if object.decisionStatus == 'APPROVED' %}
                       <span class="decision-status label label-success">APPROVED</span>
                   {% else if  object.decisionStatus == 'REJECTED' %}
                       <span class="decision-status label label-danger">REJECTED</span>
                   {% endif %}
                   {% if admin.hasRoute('decide') %}
                       <form action="" method="post" class="decision-form" style="width:100%; display: flex; ">
                           {% if admin.hasAccess('approve', object) %}
                               <button type="submit" class="decision-button btn btn-success"
                                       data-action="{{ admin.generateObjectUrl('decide', object,{'action':'approve'}) }}">
                                   APPROVE
                               </button>
                           {% endif %}
                           {% if admin.hasAccess('reject', object) %}
                               <button type="submit" class="decision-button btn btn-danger"
                                       data-action="{{ admin.generateObjectUrl('decide', object,{'action':'reject'}) }}">
                                   REJECT
                               </button>
                           {% endif %}
                           {%- block decision_buttons -%} {% endblock %}
                           <input {{ object.decisionRemarks is not empty?'disabled="disabled"':'' }}
                                   id="reviewer-remarks" name="decision-remarks" class="decision-remarks form-control"
                                   placeholder="Reviewer Remarks" value="{{ object.decisionRemarks }}"/>
                       </form>
                   {% endif %}
               </div>
           </div>
       {% endif %}
   {% endblock %}

{%- block javascripts -%}
    {{ parent() }}
    <script>
        (function ($) {
            $(document).ready(function ($) {
                $('.decision-form').on('submit', function () {

                });

                $("form button[type=submit]").click(function () {
                    $(this).parents("form").attr("action", $(this).data('action'));
                });

            });

        })(jQuery);
    </script>
{%- endblock javascripts -%}

{%- block stylesheets -%}
    {{ parent() }}
    <style>
        .navbar-collapse {
            display: none;
        }
    </style>
{%- endblock stylesheets -%}
