{% extends '@MagentaSWarrantyAdmin/CRUD/list.html.twig' %}
{% block stylesheets_stupid %}

{% endblock %}
                  {% block table_header %}
                      <thead>
                      <tr class="sonata-ba-list-field-header">
                          {% for field_description in admin.list.elements %}
                              {% if admin.hasRoute('batch') and field_description.getOption('code') == '_batch' and batchactions|length > 0 %}
                                  <th rowspan="2" class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                                      <input type="checkbox" id="list_batch_checkbox">
                                  </th>
                              {% elseif field_description.getOption('code') == '_select' %}
                                  <th rowspan="2"
                                      class="sonata-ba-list-field-header sonata-ba-list-field-header-select"></th>
                              {% elseif field_description.name == '_action' and app.request.isXmlHttpRequest %}
                                  {# Action buttons disabled in ajax view! #}
                              {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
                                  {# Disable fields with 'ajax_hidden' option set to true #}
                              {% else %}
                                  {% set sortable = false %}
                                  {% if field_description.options.sortable is defined and field_description.options.sortable %}
                                      {% set sortable             = true %}
                                      {% set sort_parameters      = admin.modelmanager.sortparameters(field_description, admin.datagrid) %}
                                      {% set current              = admin.datagrid.values._sort_by == field_description or admin.datagrid.values._sort_by.name == sort_parameters.filter._sort_by %}
                                      {% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
                                      {% set sort_by              = current ? admin.datagrid.values._sort_order : field_description.options._sort_order %}
                                  {% endif %}

                                  {% spaceless %}
                                      <th rowspan="2"
                                          class="sonata-ba-list-field-header-{{ field_description.type }} {% if sortable %} sonata-ba-list-field-header-order-{{ sort_by|lower }} {{ sort_active_class }}{% endif %}{% if field_description.options.header_class is defined %} {{ field_description.options.header_class }}{% endif %}"{% if field_description.options.header_style is defined %} style="{{ field_description.options.header_style }}"{% endif %}>
                                          {% if sortable %}<a
                                                  href="{{ admin.generateUrl('list', sort_parameters) }}">{% endif %}
                                              {% if field_description.getOption('label_icon') %}
                                                  <i class="sonata-ba-list-field-header-label-icon {{ field_description.getOption('label_icon') }}"
                                                     aria-hidden="true"></i>
                                              {% endif %}
                                              {{ field_description.label|trans({}, field_description.translationDomain) }}
                                              {% if sortable %}</a>{% endif %}
                                      </th>
                                  {% endspaceless %}
                              {% endif %}
                          {% endfor %}
                          {% for module in admin.systemModules %}

                              <th colspan="{{ module.supportedModuleActions|length }}"
                                  class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">

                                  {{ module.moduleName }}

                              </th>


                          {% endfor %}
                      </tr>
                      <tr class="sonata-ba-list-field-header">
                          {% for module in admin.systemModules %}
                              {% for supportedAction in module.supportedModuleActions %}
                                  <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                                      {{ supportedAction|trans({},'ACLAction') }}
                                  </th>
                              {% endfor %}

                          {% endfor %}
                      </tr>
                      </thead>
                  {% endblock %}

                        {% block table_body %}
                            <tbody>

                            {#<tr>#}
                            {#{% set elementCount = 2 %}#}
                            {#<td></td>#}
                            {#<td colspan="1" class="sonata-ba-list-field sonata-ba-list-field-actions" objectid="0">#}
                            {#<button type="button" class="btn-primary btn form-control">Save New Role</button>#}
                            {#</td>#}
                            {#<td colspan="{{ elementCount - 1 }}"#}
                            {#class="sonata-ba-list-field sonata-ba-list-field-actions" objectid="0">#}
                            {#<input placeholder="Enter New Role" type="text" name="new_role"#}
                            {#class="form-control"/>#}
                            {#</td>#}

                            {#{% for module in admin.systemModules %}#}
                            {#{% for supportedAction in module.supportedModuleActions %}#}
                            {#<td class="sonata-ba-list-field sonata-ba-list-field-actions" objectid="0">#}
                            {#<input type="checkbox" autocomplete="off" name="{{ module.moduleCode }}"#}
                            {#value="{{ supportedAction }}">#}
                            {#</td>#}
                            {#{% endfor %}#}
                            {#{% endfor %}#}
                            {#</tr>#}

                            {% include get_admin_template('outer_list_rows_' ~ admin.getListMode(), admin.code) %}
                            </tbody>
                        {% endblock %}

                        {% block table_footer %}

                        {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        (function ($) {

            /* ----------------------------------------------- */
            /* ----------------------------------------------- */
            /* OnLoad Page */
            $(document).ready(function ($) {
                registerACEEvents($('.ace'));
            });

            postACE = function (targetStatus, actionUrl, statusUrl, successHandler) {
                $.post(actionUrl, {})
                    .done(function (actionResponse) {
                        let statusData = {};
                        $.post(statusUrl, statusData)
                            .done(function (statusResponse) {
                                if (statusResponse.status !== targetStatus) {
                                    postACE(targetStatus, actionUrl, statusUrl, successHandler);
                                } else {
                                    successHandler(statusResponse);
                                }
                            });
                    });
            }

            registerACEEvents = function ($ace) {
                $ace.on('ifChanged change', function (e) {
                    let $iCheck = $(this);
                    let $parent = $(this).parents('.ace-container');
                    let enableUrl = $parent.data('enableUrl');
                    let removeUrl = $parent.data('removeUrl');
                    let statusUrl = $parent.data('statusUrl');

                    // console.log('url is ', url, 'is checked', $(this).is(":checked"));
                    let isChecked = $(this).is(":checked");
                    let $iCheckContainer = $(this).parents('.icheckbox_square-blue');
                    $iCheckContainer.hide();
                    $parent.append('<i class="fa fa-spinner fa-spin" style="font-size:24px"></i>');
                    let $loading = $parent.children().last();
                    if (isChecked) {
                        {# ACEntry::STATUS_GRANTED #}
                        postACE('GRANTED', enableUrl, statusUrl, function (resp) {
                            $loading.remove();
                            $iCheckContainer.show();
                        });
                    } else {
                        {# ACEntry::STATUS_EMPTY #}
                        postACE('EMPTY', removeUrl, statusUrl, function (resp) {
                            $loading.remove();
                            $iCheckContainer.show();
                        });
                    }
                });
            }

            /* OnLoad Window */
            init = function () {

            };
            window.onload = init;

        })(jQuery);
    </script>
{% endblock %}